<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 위 3개의 메타 태그는 *반드시* head 태그의 처음에 와야합니다; 어떤 다른 콘텐츠들은 반드시 이 태그들 *다음에* 와야 합니다 -->
        <title>vue</title>

        <!-- 부트스트랩 -->
        <!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
        
        <!--Vue.js-->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        
    </head>
    <body>
        <h2>선언적 렌더링</h2>
        <div id="app" class="app">
            <!-- 데이터 출력부 -->
            {{ message }}
        </div>
        <script>
            //본 예제에서 var app 변수 선언은 크게 의미없음.  
            var app = new Vue({
                // DOM에 선언된 id 또는 class 값과 매칭.(테스트 결과 .app으로 설정하여 클래스 값과도 매칭 가능함.)
                el: '#app',
                // DOM에 나타날 텍스트 데이터
                data: {
                    message: '안녕하세요 Vue!ㅇfdfdfdㅇㅇ'
                }
            })
        </script>
        
        <div id="app-2">
            <!--v-bind 같은 속성을 디렉티브라 명칭함. v-bind 란 놈은 title 속성을 출력하는 디렉티브임-->
            <span v-bind:title="message">
                내 위에 잠시 마우스를 올리면 동적으로 바인딩 된 title을 볼 수 있습니다!
            </span>
        </div>
        <script>
            var app2 = new Vue({
                el: '#app-2',
                // 날짜와 텍스트 데이터가 message 파라메터? 에 세팅되어있다. DOM 출력부에 v-bind 디렉티브를 활용하여 title 속성을 컨트롤 하게되어있으니 해당 값은 title 속성에 세팅된다.
                data: {
                    message: '이 페이지는 ' + new Date() + ' 에 로드 되었습니다'
                }
            })
        </script>
        
        <h2>조건문과 반복문</h2>
        <div id="app-3">
            <!--v-if 디렉티브는 조건문이다. -->
            <p v-if="seen">이제 나를 볼 수 있어요</p>
        </div>
        <script>
            // true 이면 p 태그를 나타내고 false면 나타내지 않는다. Vue.js 로 데이터 바인딩도 할수 있지만 DOM 구조도 변경가능하다.
            var app3 = new Vue({
                el: '#app-3',
                data: {
                    seen: true
                }
            }) 
        </script>
        
        <div id="app-4">
            <ol>
            <!-- v-for 디렉티브는 반복문이다.  v-for="DOM에서 매칭할 이름 in 스크립트에서 만들어진 배열 파라메터 명"-->
                <li v-for="todo in todos">
                    {{ todo.text }}
                </li>
            </ol>
        </div>
        <script>
            var app4 = new Vue({
              el: '#app-4',
              data: {
                //배열 데이터 todos 선언
                todos: [
                  { text: 'JavaScript 배우기' },
                  { text: 'Vue 배우기' },
                  { text: '무언가 멋진 것을 만들기' },
                  { text: '무언가 멋진 것을 만들기' },
                  { text: '무언가 멋진 것을 만들기' },
                  { text: '무언가 멋진 것을 만들기' },
                  { text: '무언가 멋진 것을 만들기' },
                  { text: '무언가 멋진 것을 만들기' },
                  { text: '무언가 멋진 것을 만들기' },
                  { text: '무언가 멋진 것을 만들기' }
                ]
              }
            })
        </script>
        
        <h2>사용자 입력 핸들링</h2>
        <div id="app-5">
            <p>{{ message }}</p>
            <!-- v-on 디렉티브는 이벤트를 관리한다. :click은 이벤트 액션이다. 아래는 클릭 이벤트로 reverseMessage 함수를 호출하는 문법이다. -->
            <button v-on:click="reverseMessage">메시지 뒤집기</button>
        </div>
        <script>
            var app5 = new Vue({
              el: '#app-5',
              data: {
                message: '안녕하세요! Vue.js!'
              },
                //메소드를 이런식으로 처리하나보다.
              methods: {
                //reverseMessage 이라는 함수를 선언했다. 이것은 문자열을 반전시킨다.
                reverseMessage: function () {
                  this.message = this.message.split('').reverse().join('')
                }
              }
            })
        </script>
        
        <div id="app-6">
            <p>{{ message }}</p>
            <!-- v-model 디렉티브는 DOM을 건드리지 않고 양방향 바인딩을 제공한다. -->
            <input v-model="message">
        </div>
        <script>
            var app6 = new Vue({
                el: '#app-6',
                data: {
                    message: '안녕하세요 Vue!'
                }
            })
        </script>
        
        <h2>컴포넌트를 사용한 작성방법</h2>
        <div id="app-7">
          <ol>
            <!-- 
              이제 각 todo-item 에 todo 객체를 제공합니다.
              화면에 나오므로, 각 항목의 컨텐츠는 동적으로 바뀔 수 있습니다. 
              또한 각 구성 요소에 "키"를 제공해야합니다 (나중에 설명 됨).
             -->
            <todo-item
              v-for="item in groceryList"
              v-bind:todo="item"
              v-bind:key="item.id">
            </todo-item>
          </ol>
        </div>
        <script>
            Vue.component('todo-item', {
              props: ['todo'],
              template: '<li>{{ todo.text }}</li>'
            })
            var app7 = new Vue({
              el: '#app-7',
              data: {
                groceryList: [
                  { id: 0, text: 'fdfdfd' },
                  { id: 1, text: 'Cheefdfdfdfdse' },
                  { id: 2, text: 'Whatefdfdver else humans are supposed to eat' }
                ]
              }
            })
        </script>
        
    </body>
</html>